# General config
NODE_ENV="development"
NODE_PORT=3000

# SMTP config for mail service
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USERNAME="username"
SMTP_PASSWORD="password"

# Aionic applications config
AIC_CORE_DOMAIN="https://aionic-core.mycompany.com"
AIC_MILESTONE_DOMAIN="https://aionic-milestone.mycompany.com"
