# General config
NODE_ENV=development
NODE_PORT=3000

# SMTP config for mail service
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=username
SMTP_PASSWORD=password

# Redis config
REDIS_HOST=localhost
REDIS_PASS=

# Aionic applications config
# => Initially set in aionic-config.json
# => Override here if environment dependent
AIONIC_CORE_DOMAIN=
AIONIC_BACKEND_DOMAIN=
AIONIC_MILESTONE_DOMAIN=
