# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist

# dependencies
/node_modules

# misc
/.htpasswd
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#Custom
ormconfig.json
src/config/private/*.ts